body{
    margin: 8rem;
    max-width: 1440px;
    max-width: 1440px;-
    background-color:  hsl(210, 46%, 95%);
}
img{
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 20px;
}
#qm{
    float: right;

}
.c1{
    display: flex;
    gap: 3%;
    margin-bottom: 3%;
    color: white;
}
.c2{
    display: flex;
    gap: 3%;
}
.c3{
    display: flex;
    width: 10rem;
    float: right;
    margin-left: 3%;
    background-color: hsl(0,0%,100%);
}
.div_border2{
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}

.p1{
    font-size: x-small;
    float: left;
    margin-left: 3px;

}
span{
    display: flex;
    opacity: 50%;
    margin-left: 25px;
}

.p2{
    font-size: large;
    alignment: left;
    float: left;
    font-weight: bold;
}
.p3{
    opacity: 70%;
    font-size: x-small;
    float: left
}

p{
    padding: 8px;
    margin: 7px;
}

.div_border{
    border: 2px solid black;
    border-radius: 7px;
}