body{
    margin: 20% 20% 20% 20%;
}
.main_div{
    border: 2px solid red;
    width: 100%;
}
.t3{
    border: 2px solid black;
    width: 20%;
    max-height: 100%;
    float: right;

}
.c1{
    display: flex;
    gap: 3%;
    width: 77%;
    height: 50%;
}
.c2{
    display: flex;
    gap: 3%;
    width: 77%;
    height: 50%;
}

.p1{}
.p2{}
.p3{
    height: 100%;
}

.t1{
    border: 2px solid black;
    width: %;
    height: %;
}
.t2{
    border: 2px solid black;
    width: %;
    height: %;
}
.t4{
    border: 2px solid black;
    width: %;
    height: %;
}
.t5{
    border: 2px solid black;
    width: %;
    height: %;
}